.all {
    height: auto;
    width: 100wv;
    background-color: #5f5f5c;
}

.top {

    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

#select {
    width: 9em;
    height: 2rem;
}

input {
    width: 20rem;
}

li {
    text-decoration: none;
    list-style: none;
    padding: 1px;
}

li span {
    font-weight: 800;
}

h1 {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    background-image: linear-gradient(to top, #dacfd2 0%, #cfc7e0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: none;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;


}

.item {

    background-color: #dacfd2;
    margin: 2rem 1rem;
    height: fit-content;
    width: 12rem;
    padding: 1rem;
    border-radius: 7px;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.90), 0 6px 20px 0 rgba(0, 0, 0, 0.90);

}

.pics {
    height: 7rem;
    width: 10rem;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}